body {
  margin: 0;
  background-color: #f1f1f1;

  & .nav {
    margin-bottom: 40px;
  }
}

ul {
  margin: 0;
}

.nav{
  background-color: #575761;
}

.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__row {
    display: flex;
    padding: 10px;
    background-color: white;
    border-top: 1px solid #575761;

    &:nth-child(3) {
      background-color: #575761;
      border-top: none;
      color: white;
      font-weight: 700;
    }
  }

  &__button {
    border: none;
    background-color: transparent;
  }

  &__ceil {
    width: 200px;

    &:nth-child(2) {
      width: 300px;
    }

    &:nth-child(5) {
      display: flex;
      justify-content: center;
      width: 60px;
    }

    &__head {

    }
  }
}

.nav {
  padding: 20px 0;
  &__list {
    display: flex;
    list-style: none;
  }

  &__item {
    margin-right: 10px;
  }
}

.sort {
  cursor: pointer;
  fill: white;
}
